---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const allBlogPosts = await getCollection("blog");
allBlogPosts.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime());

function formatDate(date: Date): string {
    return date.toLocaleDateString("en-US", { year: "numeric", month: "short", day: "numeric" });
}
---

<Layout title="Blog">
    <h1>Blog</h1>

    <ul>
        {allBlogPosts.map(({ data, collection, slug }) => (
            <li>
                <a href={`/${collection}/${slug}`}>{data.title}</a>
                <small>({formatDate(data.date)})</small>
            </li>
        ))}
    </ul>
</Layout>
