html {
    font-family: monospace;
    background: #111;
    color: #ccc;
    height: 100%;
}

a { color: #6f6; }
a:visited { color: #696; }

body {
    max-width: 72ch;
    margin: 0 auto;
    padding: 1rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main { flex: 1; }

nav a { margin-right: 1ch; }

pre {
    overflow-x: auto;
}

img {
    max-width: 100%;
}

footer {
    margin-top: auto;
    padding-top: 1rem;
    border-top: 1px solid #333;
    font-size: small;
    color: #666;
}

footer a { color: #666; }
