@import "tailwindcss";
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --color-brand: #1565c0;
    --color-brand-700: #0e4ea2;
    --color-accent: #b92b27;
}

@theme {
    --font-mono: "JetBrains Mono", monospace;
}

@layer base {
    body {
        @apply bg-neutral-950 text-neutral-200 antialiased;
    }
}
