---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
    <section class="space-y-8 py-12 text-neutral-300 leading-relaxed max-w-2xl">
        <p>
            I'm a software engineer from Germany with a bachelor's degree in library sciences. I work at <a
                href="https://lmscloud.de"
                class="text-neutral-200 hover:underline decoration-neutral-700 underline-offset-4">LMSCloud</a
            >, an LMS support vendor, and as the index page shows, I work on and around an LMS called Koha.
        </p>
        <p>
            I love tech! Contributing to <a
                href="https://koha-community.org"
                class="text-neutral-200 hover:underline decoration-neutral-700 underline-offset-4">Koha</a
            >
            really opened my eyes about my known unknowns. Challenging problems force you to learn and adapt to new context fast.
            The more you learn, the more humbling it gets.
        </p>
        <p>
            Perl is certainly no joke, you would be surprised what capabilities and depth this language and its associated
            communities provide! Check out <a
                href="https://mojolicious.org/"
                class="text-neutral-200 hover:underline decoration-neutral-700 underline-offset-4">Mojolicious</a
            > for example or of course <a
                href="https://github.com/koha-community/koha"
                class="text-neutral-200 hover:underline decoration-neutral-700 underline-offset-4">Koha</a
            >. And the Perl community is also very active, check out the
            <a
                href="https://www.youtube.com/@YAPCNA"
                class="text-neutral-200 hover:underline decoration-neutral-700 underline-offset-4">conferences on YouTube</a
            >.
        </p>
        <p>
            I'm a passionate learner and always looking for new opportunities to grow. If I can help to make the world a
            little brighter while doing it, all the better.
        </p>
    </section>
</Layout>
