---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Some things you don't know">
    <section>
        <p>
            I'm a software engineer from Germany with a bachelor's degree in
            library sciences. I work at <a href="https://lmscloud.de"
                >LMSCloud</a
            >, an LMS support vendor, and as the index page shows I work on and
            around an LMS called Koha.
        </p>
        <p>
            I love tech! In my free time I'm <s
                >hunting down the latest JavaScript framworks</s
            > contributing to <a href="https://koha-community.org">Koha</a> or build
            CLI tools in <s>Rust</s> Go (Thanks prime and melkey, it's the Go arc
            for me as well this year).
        </p>
        <p>
            I'm also starting to like perl for some inexplicable reason. Maybe
            because of the great people I met in both the Koha and the perl
            community.
        </p>
        <p>
            I'm also a big fan of Indie Games, Anime, and cooking. Other than
            that I enjoy cycling, playing guitar, and spending time with my
            beautiful girlfriend (sorry Arch users). Just kidding, using Arch
            (btw).
        </p>
        <p>
            I'm a passionate learner and always looking for new opportunities to
            grow. I'm also deeply invested in both German and international
            politics.
        </p>
        <p>I'm driven by creativity and the desire to make a difference.</p>
    </section>
</Layout>
