---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
    <h1>About</h1>

    <p>
        I'm a software engineer from Germany with a bachelor's degree in library sciences.
        I work at <a href="https://lmscloud.de">LMSCloud</a>, an LMS support vendor,
        on and around an LMS called <a href="https://koha-community.org">Koha</a>.
    </p>
    <p>
        Contributing to Koha really opened my eyes about my known unknowns.
        Challenging problems force you to learn and adapt to new context fast.
        The more you learn, the more humbling it gets.
    </p>
    <p>
        Perl is certainly no joke, you would be surprised what capabilities and
        depth this language and its associated communities provide! Check out
        <a href="https://mojolicious.org/">Mojolicious</a> for example or of course
        <a href="https://github.com/koha-community/koha">Koha</a>.
        And the Perl community is also very active, check out the
        <a href="https://www.youtube.com/@YAPCNA">conferences on YouTube</a>.
    </p>
    <p>
        I'm a passionate learner and always looking for new opportunities to grow.
        If I can help to make the world a little brighter while doing it, all the better.
    </p>
</Layout>
