---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Some things you don't know">
    <section>
        <p>
            I'm a software engineer from Germany with a bachelor's degree in library sciences.
            I work at LMSCloud, an LMS support vendor and as the index page shows I work on and around an LMS called Koha.
        </p>
        <p>
            I love tech! In my free time I'm hunting down the latest JavaScript framworks or building CLI tools in Rust.
            I'm also a big fan of Indie Games, Anime, and cooking. Other than that I enjoy cycling, playing guitar, and spending time with my beautiful girlfriend.
        </p>
        <p>
            I'm a passionate learner and always looking for new opportunities to grow.
            I'm also deeply invested in both German and international politics.
        </p>
        <p>
            I'm driven by creativity and the desire to make a difference.
        </p>
    </section>
</Layout>
