---
import Layout from "../layouts/Layout.astro";
---

<Layout title="paul derscheid">
    <ul style="text-align:center; list-style:none; padding:0;">
        <li><a href="/rss.xml">/rss</a></li>
        <li><a href="/perl/rss.xml">/perl/rss</a></li>
        <li><a href="/links/rss.xml">/links/rss</a></li>
    </ul>
</Layout>
