---
import Layout from "../layouts/Layout.astro";
---

<Layout title="paul derscheid">
    <h1>paul derscheid</h1>
    <p>Software Engineer, Koha contributor</p>

    <ul>
        <li><a href="https://github.com/pders01">github</a></li>
        <li><a href="https://koha-community.org">koha</a></li>
        <li><a href="https://www.linkedin.com/in/paulderscheid-1726504/">linkedin</a></li>
    </ul>
</Layout>
