---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout title="Hi, I'm Paul">
	<div class="grid">
		<section>
			<h1>👋 Hi, my name is Paul</h1>
			<ul>
				<li>
					Software engineer by <a
						href="https://www.linkedin.com/in/paulderscheid-1726504/"
					>profession</a>, librarian by <a
						href="https://www.linkedin.com/in/paulderscheid-1726504/"
					>education</a>
				</li>
				<li>
					Working on the coolest ILS under the sun which is <a
						href="https://koha-community.org"
					>Koha</a>
				</li>
				<li>🫀 everything technology</li>
			</ul>

			<details>
				<summary>🔎 Find me</summary>
				<ul>
					<li class="section-title">
						<img
							src="/svg/github.svg"
							alt="Github's invertocat logo"
							class="icon-sm"
						/>GitHub
					</li>
					<ul>
						<li class="item-title">
							main <a
								href="https://github.com/pders01"
							>pders01</a>
						</li>
						<li class="item-title">
							work <a
								href="https://github.com/LMSCloudPaulD"
							>LMSCloudPaulD</a>
						</li>
					</ul>

					<br />

					<li class="section-title">
						<img
							src="/svg/koha.svg"
							alt="Koha's koru"
							class="icon-sm"
						/>Koha
					</li>
					<ul>
						<li class="item-title">
							<img
								src="/svg/mattermost.svg"
								alt="Mattermost's logo"
								class="icon-sm"
							/>
							<a
								href="https://chat.koha-community.org"
							>Mattermost</a> @paulderscheid
						</li>
					</ul>
				</ul>
			</details>
		</section>
		<section class="text-align-center">
			<Image
				src="/profile.webp"
				alt="A handsome young engineer with a lovely smirk."
				width="300"
				height="300"
				loading={"eager"}
			/>
		</section>
	</div>
</Layout>

<style>
	img {
		border-radius: 5%;
	}

	.text-align-center {
		text-align: center;
	}

	.list-style-none {
		list-style: none;
	}

	.section-title,
	.item-title {
		display: inline-flex;
		align-items: center;
		gap: 0.5em;
		width: 100%;
	}
	.icon-sm {
		height: 1em;
	}
</style>
