---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Legal">
    <div
        class="container mx-auto py-12 prose prose-invert prose-neutral max-w-2xl prose-p:text-neutral-300 prose-headings:text-neutral-200"
    >
        <section class="mb-12 p-4 border border-neutral-800 bg-neutral-900/50 text-sm text-neutral-400 text-center">
            If you're wondering why this is in German.. It's a formality.<br />
            As German citizens we are legally required to provide that information.
        </section>
        <section>
            <h1>Impressum</h1>

            <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
            <p>
                Jean Paul Anselm Heinz Derscheid<br />
                c/o Block Services<br />
                Stuttgarter Str. 106<br />
                70736 Fellbach
            </p>

            <h2>Kontakt</h2>
            <p>
                Telefon: +49 (0) 711 34198632<br />
                Telefax: +49 (0) 711 34198632<br />
                E-Mail: me@paulderscheid.xyz
            </p>

            <h2>Redaktionell verantwortlich</h2>
            <p>
                Inhaltlich Verantwortlicher gem&auml;&szlig; &sect; 18 Abs. 2 MStV:<br />
                Jean Paul Anselm Heinz Derscheid<br />
                c/o Block Services<br />
                Stuttgarter Str. 106<br />
                70736 Fellbach
            </p>

            <p>
                Quelle: <a href="https://www.e-recht24.de/impressum-generator.html"
                    >https://www.e-recht24.de/impressum-generator.html</a
                >
            </p>
        </section>
    </div>
</Layout>
