---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hi, I'm Paul">
  <section>
    If you're wondering why this is in German.. It's a formality.<br />
    As German citizens we are legally required to provide that information.
  </section>
  <section>
    <h1 class="adsimple-312397884">Datenschutzerklärung</h1>
    <h2>Inhaltsverzeichnis</h2>
    <ul>
      <li>
        <a href="#einleitung-ueberblick">Einleitung und Überblick</a>
      </li>
      <li>
        <a href="#anwendungsbereich">Anwendungsbereich</a>
      </li>
      <li>
        <a href="#rechtsgrundlagen">Rechtsgrundlagen</a>
      </li>
      <li>
        <a href="#kontaktdaten-verantwortliche"
          >Kontaktdaten des Verantwortlichen</a
        >
      </li>
      <li>
        <a href="#speicherdauer">Speicherdauer</a>
      </li>
      <li>
        <a href="#rechte-dsgvo">Rechte laut Datenschutz-Grundverordnung</a>
      </li>
      <li>
        <a href="#datenuebertragung-drittlaender"
          >Datenübertragung in Drittländer</a
        >
      </li>
      <li>
        <a href="#sicherheit-datenverarbeitung"
          >Sicherheit der Datenverarbeitung</a
        >
      </li>
      <li>
        <a href="#kommunikation">Kommunikation</a>
      </li>
      <li>
        <a href="#auftragsverarbeitungsvertrag-avv"
          >Auftragsverarbeitungsvertrag (AVV)</a
        >
      </li>
      <li>
        <a href="#webhosting-einleitung">Webhosting Einleitung</a>
      </li>
      <li>
        <a href="#externe-onlineplattformen-einleitung"
          >Externe Onlineplattformen Einleitung</a
        >
      </li>
    </ul>
    <h2 id="einleitung-ueberblick" class="adsimple-312397884">
      Einleitung und Überblick
    </h2>
    <p>
      Wir haben diese Datenschutzerklärung (Fassung 26.01.2023-312397884)
      verfasst, um Ihnen gemäß der Vorgaben der <a
        class="adsimple-312397884"
        href="https://eur-lex.europa.eu/legal-content/DE/TXT/HTML/?uri=CELEX:32016R0679&from=DE&tid=312397884#d1e2269-1-1"
        target="_blank"
        rel="noopener">Datenschutz-Grundverordnung (EU) 2016/679</a
      > und anwendbaren nationalen Gesetzen zu erklären, welche personenbezogenen
      Daten (kurz Daten) wir als Verantwortliche &#8211; und die von uns beauftragten
      Auftragsverarbeiter (z. B. Provider) &#8211; verarbeiten, zukünftig verarbeiten
      werden und welche rechtmäßigen Möglichkeiten Sie haben. Die verwendeten Begriffe
      sind geschlechtsneutral zu verstehen.<br />
      <strong class="adsimple-312397884">Kurz gesagt:</strong> Wir informieren Sie
      umfassend über Daten, die wir über Sie verarbeiten.
    </p>
    <p>
      Datenschutzerklärungen klingen für gewöhnlich sehr technisch und verwenden
      juristische Fachbegriffe. Diese Datenschutzerklärung soll Ihnen hingegen
      die wichtigsten Dinge so einfach und transparent wie möglich beschreiben.
      Soweit es der Transparenz förderlich ist, werden technische <strong
        class="adsimple-312397884">Begriffe leserfreundlich erklärt</strong
      >, Links zu weiterführenden Informationen geboten und <strong
        class="adsimple-312397884">Grafiken</strong
      > zum Einsatz gebracht. Wir informieren damit in klarer und einfacher Sprache,
      dass wir im Rahmen unserer Geschäftstätigkeiten nur dann personenbezogene Daten
      verarbeiten, wenn eine entsprechende gesetzliche Grundlage gegeben ist. Das
      ist sicher nicht möglich, wenn man möglichst knappe, unklare und juristisch-technische
      Erklärungen abgibt, so wie sie im Internet oft Standard sind, wenn es um Datenschutz
      geht. Ich hoffe, Sie finden die folgenden Erläuterungen interessant und informativ
      und vielleicht ist die eine oder andere Information dabei, die Sie noch nicht
      kannten.<br />
      Wenn trotzdem Fragen bleiben, möchten wir Sie bitten, sich an die unten bzw.
      im Impressum genannte verantwortliche Stelle zu wenden, den vorhandenen Links
      zu folgen und sich weitere Informationen auf Drittseiten anzusehen. Unsere
      Kontaktdaten finden Sie selbstverständlich auch im Impressum.
    </p>
    <h2 id="anwendungsbereich" class="adsimple-312397884">Anwendungsbereich</h2>
    <p>
      Diese Datenschutzerklärung gilt für alle von uns im Unternehmen
      verarbeiteten personenbezogenen Daten und für alle personenbezogenen
      Daten, die von uns beauftragte Firmen (Auftragsverarbeiter) verarbeiten.
      Mit personenbezogenen Daten meinen wir Informationen im Sinne des Art. 4
      Nr. 1 DSGVO wie zum Beispiel Name, E-Mail-Adresse und postalische
      Anschrift einer Person. Die Verarbeitung personenbezogener Daten sorgt
      dafür, dass wir unsere Dienstleistungen und Produkte anbieten und
      abrechnen können, sei es online oder offline. Der Anwendungsbereich dieser
      Datenschutzerklärung umfasst:
    </p>
    <ul class="adsimple-312397884">
      <li class="adsimple-312397884">
        alle Onlineauftritte (Websites, Onlineshops), die wir betreiben
      </li>
      <li class="adsimple-312397884">
        Social Media Auftritte und E-Mail-Kommunikation
      </li>
      <li class="adsimple-312397884">
        mobile Apps für Smartphones und andere Geräte
      </li>
    </ul>
    <p>
      <strong class="adsimple-312397884">Kurz gesagt:</strong> Die Datenschutzerklärung
      gilt für alle Bereiche, in denen personenbezogene Daten im Unternehmen über
      die genannten Kanäle strukturiert verarbeitet werden. Sollten wir außerhalb
      dieser Kanäle mit Ihnen in Rechtsbeziehungen eintreten, werden wir Sie gegebenenfalls
      gesondert informieren.
    </p>
    <h2 id="rechtsgrundlagen" class="adsimple-312397884">Rechtsgrundlagen</h2>
    <p>
      In der folgenden Datenschutzerklärung geben wir Ihnen transparente
      Informationen zu den rechtlichen Grundsätzen und Vorschriften, also den
      Rechtsgrundlagen der Datenschutz-Grundverordnung, die uns ermöglichen,
      personenbezogene Daten zu verarbeiten.<br />
      Was das EU-Recht betrifft, beziehen wir uns auf die VERORDNUNG (EU) 2016/679
      DES EUROPÄISCHEN PARLAMENTS UND DES RATES vom 27. April 2016. Diese Datenschutz-Grundverordnung
      der EU können Sie selbstverständlich online auf EUR-Lex, dem Zugang zum EU-Recht,
      unter <a
        class="adsimple-312397884"
        href="https://eur-lex.europa.eu/legal-content/DE/ALL/?uri=celex%3A32016R0679"
        >https://eur-lex.europa.eu/legal-content/DE/ALL/?uri=celex%3A32016R0679</a
      > nachlesen.
    </p>
    <p>
      Wir verarbeiten Ihre Daten nur, wenn mindestens eine der folgenden
      Bedingungen zutrifft:
    </p>
    <ol>
      <li class="adsimple-312397884">
        <strong class="adsimple-312397884">Einwilligung</strong> (Artikel 6 Absatz
        1 lit. a DSGVO): Sie haben uns Ihre Einwilligung gegeben, Daten zu einem
        bestimmten Zweck zu verarbeiten. Ein Beispiel wäre die Speicherung Ihrer
        eingegebenen Daten eines Kontaktformulars.
      </li>
      <li class="adsimple-312397884">
        <strong class="adsimple-312397884">Vertrag</strong> (Artikel 6 Absatz 1 lit.
        b DSGVO): Um einen Vertrag oder vorvertragliche Verpflichtungen mit Ihnen
        zu erfüllen, verarbeiten wir Ihre Daten. Wenn wir zum Beispiel einen Kaufvertrag
        mit Ihnen abschließen, benötigen wir vorab personenbezogene Informationen.
      </li>
      <li class="adsimple-312397884">
        <strong class="adsimple-312397884">Rechtliche Verpflichtung</strong> (Artikel
        6 Absatz 1 lit. c DSGVO): Wenn wir einer rechtlichen Verpflichtung unterliegen,
        verarbeiten wir Ihre Daten. Zum Beispiel sind wir gesetzlich verpflichtet
        Rechnungen für die Buchhaltung aufzuheben. Diese enthalten in der Regel personenbezogene
        Daten.
      </li>
      <li class="adsimple-312397884">
        <strong class="adsimple-312397884">Berechtigte Interessen</strong> (Artikel
        6 Absatz 1 lit. f DSGVO): Im Falle berechtigter Interessen, die Ihre Grundrechte
        nicht einschränken, behalten wir uns die Verarbeitung personenbezogener Daten
        vor. Wir müssen zum Beispiel gewisse Daten verarbeiten, um unsere Website
        sicher und wirtschaftlich effizient betreiben zu können. Diese Verarbeitung
        ist somit ein berechtigtes Interesse.
      </li>
    </ol>
    <p>
      Weitere Bedingungen wie die Wahrnehmung von Aufnahmen im öffentlichen
      Interesse und Ausübung öffentlicher Gewalt sowie dem Schutz
      lebenswichtiger Interessen treten bei uns in der Regel nicht auf. Soweit
      eine solche Rechtsgrundlage doch einschlägig sein sollte, wird diese an
      der entsprechenden Stelle ausgewiesen.
    </p>
    <p>Zusätzlich zu der EU-Verordnung gelten auch noch nationale Gesetze:</p>
    <ul class="adsimple-312397884">
      <li class="adsimple-312397884">
        In <strong class="adsimple-312397884">Österreich</strong> ist dies das Bundesgesetz
        zum Schutz natürlicher Personen bei der Verarbeitung personenbezogener Daten
        (<strong class="adsimple-312397884">Datenschutzgesetz</strong>), kurz <strong
          class="adsimple-312397884">DSG</strong
        >.
      </li>
      <li class="adsimple-312397884">
        In <strong class="adsimple-312397884">Deutschland</strong> gilt das <strong
          class="adsimple-312397884">Bundesdatenschutzgesetz</strong
        >, kurz<strong class="adsimple-312397884"> BDSG</strong>.
      </li>
    </ul>
    <p>
      Sofern weitere regionale oder nationale Gesetze zur Anwendung kommen,
      informieren wir Sie in den folgenden Abschnitten darüber.
    </p>
    <h2 id="kontaktdaten-verantwortliche" class="adsimple-312397884">
      Kontaktdaten des Verantwortlichen
    </h2>
    <p>
      Sollten Sie Fragen zum Datenschutz oder zur Verarbeitung personenbezogener
      Daten haben, finden Sie nachfolgend die Kontaktdaten der verantwortlichen
      Person bzw. Stelle:<br />
      <span class="adsimple-312397884" style="font-weight: 400"
        >Jean Paul Anselm Heinz Derscheid<br />
        c/o Block Services<br />
        Stuttgarter Str. 106<br />
        70736 Fellbach</span
      >
    </p>
    <p>
      E-Mail: <a href="mailto:me@paulderscheid.xyz">me@paulderscheid.xyz</a>
      <br />
      Telefon: <a href="tel:+49 (0) 711 34198632">+49 (0) 711 34198632</a>
      <br />
      Impressum: <a href="https://paulderscheid.xyz/legal"
        >https://paulderscheid.xyz/legal</a
      >
    </p>
    <h2 id="speicherdauer" class="adsimple-312397884">Speicherdauer</h2>
    <p>
      Dass wir personenbezogene Daten nur so lange speichern, wie es für die
      Bereitstellung unserer Dienstleistungen und Produkte unbedingt notwendig
      ist, gilt als generelles Kriterium bei uns. Das bedeutet, dass wir
      personenbezogene Daten löschen, sobald der Grund für die Datenverarbeitung
      nicht mehr vorhanden ist. In einigen Fällen sind wir gesetzlich dazu
      verpflichtet, bestimmte Daten auch nach Wegfall des ursprüngliches Zwecks
      zu speichern, zum Beispiel zu Zwecken der Buchführung.
    </p>
    <p>
      Sollten Sie die Löschung Ihrer Daten wünschen oder die Einwilligung zur
      Datenverarbeitung widerrufen, werden die Daten so rasch wie möglich und
      soweit keine Pflicht zur Speicherung besteht, gelöscht.
    </p>
    <p>
      Über die konkrete Dauer der jeweiligen Datenverarbeitung informieren wir
      Sie weiter unten, sofern wir weitere Informationen dazu haben.
    </p>
    <h2 id="rechte-dsgvo" class="adsimple-312397884">
      Rechte laut Datenschutz-Grundverordnung
    </h2>
    <p>
      Gemäß Artikel 13, 14 DSGVO informieren wir Sie über die folgenden Rechte,
      die Ihnen zustehen, damit es zu einer fairen und transparenten
      Verarbeitung von Daten kommt:
    </p>
    <ul class="adsimple-312397884">
      <li class="adsimple-312397884">
        Sie haben laut Artikel 15 DSGVO ein Auskunftsrecht darüber, ob wir Daten
        von Ihnen verarbeiten. Sollte das zutreffen, haben Sie Recht darauf eine
        Kopie der Daten zu erhalten und die folgenden Informationen zu erfahren:
        <ul class="adsimple-312397884">
          <li class="adsimple-312397884">
            zu welchem Zweck wir die Verarbeitung durchführen;
          </li>
          <li class="adsimple-312397884">
            die Kategorien, also die Arten von Daten, die verarbeitet werden;
          </li>
          <li class="adsimple-312397884">
            wer diese Daten erhält und wenn die Daten an Drittländer übermittelt
            werden, wie die Sicherheit garantiert werden kann;
          </li>
          <li class="adsimple-312397884">
            wie lange die Daten gespeichert werden;
          </li>
          <li class="adsimple-312397884">
            das Bestehen des Rechts auf Berichtigung, Löschung oder
            Einschränkung der Verarbeitung und dem Widerspruchsrecht gegen die
            Verarbeitung;
          </li>
          <li class="adsimple-312397884">
            dass Sie sich bei einer Aufsichtsbehörde beschweren können (Links zu
            diesen Behörden finden Sie weiter unten);
          </li>
          <li class="adsimple-312397884">
            die Herkunft der Daten, wenn wir sie nicht bei Ihnen erhoben haben;
          </li>
          <li class="adsimple-312397884">
            ob Profiling durchgeführt wird, ob also Daten automatisch
            ausgewertet werden, um zu einem persönlichen Profil von Ihnen zu
            gelangen.
          </li>
        </ul>
      </li>
      <li class="adsimple-312397884">
        Sie haben laut Artikel 16 DSGVO ein Recht auf Berichtigung der Daten,
        was bedeutet, dass wir Daten richtig stellen müssen, falls Sie Fehler
        finden.
      </li>
      <li class="adsimple-312397884">
        Sie haben laut Artikel 17 DSGVO das Recht auf Löschung („Recht auf
        Vergessenwerden“), was konkret bedeutet, dass Sie die Löschung Ihrer
        Daten verlangen dürfen.
      </li>
      <li class="adsimple-312397884">
        Sie haben laut Artikel 18 DSGVO das Recht auf Einschränkung der
        Verarbeitung, was bedeutet, dass wir die Daten nur mehr speichern dürfen
        aber nicht weiter verwenden.
      </li>
      <li class="adsimple-312397884">
        Sie haben laut Artikel 20 DSGVO das Recht auf Datenübertragbarkeit, was
        bedeutet, dass wir Ihnen auf Anfrage Ihre Daten in einem gängigen Format
        zur Verfügung stellen.
      </li>
      <li class="adsimple-312397884">
        Sie haben laut Artikel 21 DSGVO ein Widerspruchsrecht, welches nach
        Durchsetzung eine Änderung der Verarbeitung mit sich bringt.
        <ul class="adsimple-312397884">
          <li class="adsimple-312397884">
            Wenn die Verarbeitung Ihrer Daten auf Artikel 6 Abs. 1 lit. e
            (öffentliches Interesse, Ausübung öffentlicher Gewalt) oder Artikel
            6 Abs. 1 lit. f (berechtigtes Interesse) basiert, können Sie gegen
            die Verarbeitung Widerspruch einlegen. Wir prüfen danach so rasch
            wie möglich, ob wir diesem Widerspruch rechtlich nachkommen können.
          </li>
          <li class="adsimple-312397884">
            Werden Daten verwendet, um Direktwerbung zu betreiben, können Sie
            jederzeit gegen diese Art der Datenverarbeitung widersprechen. Wir
            dürfen Ihre Daten danach nicht mehr für Direktmarketing verwenden.
          </li>
          <li class="adsimple-312397884">
            Werden Daten verwendet, um Profiling zu betreiben, können Sie
            jederzeit gegen diese Art der Datenverarbeitung widersprechen. Wir
            dürfen Ihre Daten danach nicht mehr für Profiling verwenden.
          </li>
        </ul>
      </li>
      <li class="adsimple-312397884">
        Sie haben laut Artikel 22 DSGVO unter Umständen das Recht, nicht einer
        ausschließlich auf einer automatisierten Verarbeitung (zum Beispiel
        Profiling) beruhenden Entscheidung unterworfen zu werden.
      </li>
      <li class="adsimple-312397884">
        Sie haben laut Artikel 77 DSGVO das Recht auf Beschwerde. Das heißt, Sie
        können sich jederzeit bei der Datenschutzbehörde beschweren, wenn Sie
        der Meinung sind, dass die Datenverarbeitung von personenbezogenen Daten
        gegen die DSGVO verstößt.
      </li>
    </ul>
    <p>
      <strong class="adsimple-312397884">Kurz gesagt:</strong> Sie haben Rechte &#8211;
      zögern Sie nicht, die oben gelistete verantwortliche Stelle bei uns zu kontaktieren!
    </p>
    <p>
      Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das
      Datenschutzrecht verstößt oder Ihre datenschutzrechtlichen Ansprüche in
      sonst einer Weise verletzt worden sind, können Sie sich bei der
      Aufsichtsbehörde beschweren. Diese ist für Österreich die
      Datenschutzbehörde, deren Website Sie unter <a
        class="adsimple-312397884"
        href="https://www.dsb.gv.at/?tid=312397884"
        target="_blank"
        rel="noopener">https://www.dsb.gv.at/</a
      > finden. In Deutschland gibt es für jedes Bundesland einen Datenschutzbeauftragten.
      Für nähere Informationen können Sie sich an die <a
        class="adsimple-312397884"
        href="https://www.bfdi.bund.de/DE/Home/home_node.html"
        target="_blank"
        rel="noopener"
        >Bundesbeauftragte für den Datenschutz und die Informationsfreiheit
        (BfDI)</a
      > wenden. Für unser Unternehmen ist die folgende lokale Datenschutzbehörde
      zuständig:
    </p>
    <h2 id="baden-wuerttemberg-datenschutzbehoerde" class="adsimple-312397884">
      Baden-Württemberg Datenschutzbehörde
    </h2>
    <p>
      <strong class="adsimple-312397884"
        >Landesbeauftragter für Datenschutz:</strong
      > Dr. Stefan Brink<br />
      <strong class="adsimple-312397884">Adresse:</strong> Königstraße 10a, 70173
      Stuttgart<br />
      <strong class="adsimple-312397884">Telefonnr.:</strong> 07 11/61 55 41-0<br
      />
      <strong class="adsimple-312397884">E-Mail-Adresse:</strong> poststelle@lfdi.bwl.de<br
      />
      <strong class="adsimple-312397884">Website:</strong>
      <a
        class="adsimple-312397884"
        href="https://www.baden-wuerttemberg.datenschutz.de/?tid=312397884"
        target="_blank"
        rel="noopener">https://www.baden-wuerttemberg.datenschutz.de/</a
      >
    </p>
    <h2 id="datenuebertragung-drittlaender" class="adsimple-312397884">
      Datenübertragung in Drittländer
    </h2>
    <p>
      Wir übertragen oder verarbeiten Daten nur dann in Länder außerhalb der EU
      (Drittländer), wenn Sie dieser Verarbeitung zustimmen, dies gesetzlich
      vorgeschrieben ist oder vertraglich notwendig und in jedem Fall nur soweit
      dies generell erlaubt ist. Ihre Zustimmung ist in den meisten Fällen der
      wichtigste Grund, dass wir Daten in Drittländern verarbeiten lassen. Die
      Verarbeitung personenbezogener Daten in Drittländern wie den USA, wo viele
      Softwarehersteller Dienstleistungen anbieten und Ihre Serverstandorte
      haben, kann bedeuten, dass personenbezogene Daten auf unerwartete Weise
      verarbeitet und gespeichert werden.
    </p>
    <p>
      Wir weisen ausdrücklich darauf hin, dass nach Meinung des Europäischen
      Gerichtshofs derzeit kein angemessenes Schutzniveau für den Datentransfer
      in die USA besteht. Die Datenverarbeitung durch US-Dienste (wie
      beispielsweise Google Analytics) kann dazu führen, dass gegebenenfalls
      Daten nicht anonymisiert verarbeitet und gespeichert werden. Ferner können
      gegebenenfalls US-amerikanische staatliche Behörden Zugriff auf einzelne
      Daten nehmen. Zudem kann es vorkommen, dass erhobene Daten mit Daten aus
      anderen Diensten desselben Anbieters, sofern Sie ein entsprechendes
      Nutzerkonto haben, verknüpft werden. Nach Möglichkeit versuchen wir
      Serverstandorte innerhalb der EU zu nutzen, sofern das angeboten wird.
    </p>
    <p>
      Wir informieren Sie an den passenden Stellen dieser Datenschutzerklärung
      genauer über Datenübertragung in Drittländer, sofern diese zutrifft.
    </p>
    <h2 id="sicherheit-datenverarbeitung" class="adsimple-312397884">
      Sicherheit der Datenverarbeitung
    </h2>
    <p>
      Um personenbezogene Daten zu schützen, haben wir sowohl technische als
      auch organisatorische Maßnahmen umgesetzt. Wo es uns möglich ist,
      verschlüsseln oder pseudonymisieren wir personenbezogene Daten. Dadurch
      machen wir es im Rahmen unserer Möglichkeiten so schwer wie möglich, dass
      Dritte aus unseren Daten auf persönliche Informationen schließen können.
    </p>
    <p>
      Art. 25 DSGVO spricht hier von &#8220;Datenschutz durch Technikgestaltung
      und durch datenschutzfreundliche Voreinstellungen&#8221; und meint damit,
      dass man sowohl bei Software (z. B. Formularen) also auch Hardware (z. B.
      Zugang zum Serverraum) immer an Sicherheit denkt und entsprechende
      Maßnahmen setzt. Im Folgenden gehen wir, falls erforderlich, noch auf
      konkrete Maßnahmen ein.
    </p>
    <h2 id="tls-verschluesselung-https" class="adsimple-312397884">
      TLS-Verschlüsselung mit https
    </h2>
    <p>
      TLS, Verschlüsselung und https klingen sehr technisch und sind es auch.
      Wir verwenden HTTPS (das Hypertext Transfer Protocol Secure steht für
      „sicheres Hypertext-Übertragungsprotokoll“), um Daten abhörsicher im
      Internet zu übertragen.<br />
      Das bedeutet, dass die komplette Übertragung aller Daten von Ihrem Browser
      zu unserem Webserver abgesichert ist &#8211; niemand kann &#8220;mithören&#8221;.
    </p>
    <p>
      Damit haben wir eine zusätzliche Sicherheitsschicht eingeführt und
      erfüllen den Datenschutz durch Technikgestaltung (<a
        class="adsimple-312397884"
        href="https://eur-lex.europa.eu/legal-content/DE/TXT/HTML/?uri=CELEX:32016R0679&from=DE&tid=312397884"
        target="_blank"
        rel="noopener">Artikel 25 Absatz 1 DSGVO</a
      >). Durch den Einsatz von TLS (Transport Layer Security), einem
      Verschlüsselungsprotokoll zur sicheren Datenübertragung im Internet,
      können wir den Schutz vertraulicher Daten sicherstellen.<br />
      Sie erkennen die Benutzung dieser Absicherung der Datenübertragung am kleinen
      Schlosssymbol <img
        role="img"
        src="https://www.adsimple.at/wp-content/uploads/2018/03/schlosssymbol-https.svg"
        width="17"
        height="18"
      /> links oben im Browser, links von der Internetadresse (z. B. beispielseite.de)
      und der Verwendung des Schemas https (anstatt http) als Teil unserer Internetadresse.<br
      />
      Wenn Sie mehr zum Thema Verschlüsselung wissen möchten, empfehlen wir die Google
      Suche nach &#8220;Hypertext Transfer Protocol Secure wiki&#8221; um gute Links
      zu weiterführenden Informationen zu erhalten.
    </p>
    <h2 id="kommunikation" class="adsimple-312397884">Kommunikation</h2>
    <table border="1" cellpadding="15">
      <tbody>
        <tr>
          <td>
            <strong class="adsimple-312397884"
              >Kommunikation Zusammenfassung</strong
            >
            <br />
            &#x1f465; Betroffene: Alle, die mit uns per Telefon, E-Mail oder Online-Formular
            kommunizieren<br />
            &#x1f4d3; Verarbeitete Daten: z. B. Telefonnummer, Name, E-Mail-Adresse,
            eingegebene Formulardaten. Mehr Details dazu finden Sie bei der jeweils
            eingesetzten Kontaktart<br />
            &#x1f91d; Zweck: Abwicklung der Kommunikation mit Kunden, Geschäftspartnern
            usw.<br />
            &#x1f4c5; Speicherdauer: Dauer des Geschäftsfalls und der gesetzlichen
            Vorschriften<br />
            &#x2696;&#xfe0f; Rechtsgrundlagen: Art. 6 Abs. 1 lit. a DSGVO (Einwilligung),
            Art. 6 Abs. 1 lit. b DSGVO (Vertrag), Art. 6 Abs. 1 lit. f DSGVO (Berechtigte
            Interessen)</td
          >
        </tr>
      </tbody>
    </table>
    <p>
      Wenn Sie mit uns Kontakt aufnehmen und per Telefon, E-Mail oder
      Online-Formular kommunizieren, kann es zur Verarbeitung personenbezogener
      Daten kommen.
    </p>
    <p>
      Die Daten werden für die Abwicklung und Bearbeitung Ihrer Frage und des
      damit zusammenhängenden Geschäftsvorgangs verarbeitet. Die Daten während
      eben solange gespeichert bzw. solange es das Gesetz vorschreibt.
    </p>
    <h3 class="adsimple-312397884">Betroffene Personen</h3>
    <p>
      Von den genannten Vorgängen sind alle betroffen, die über die von uns
      bereit gestellten Kommunikationswege den Kontakt zu uns suchen.
    </p>
    <h3 class="adsimple-312397884">Telefon</h3>
    <p>
      Wenn Sie uns anrufen, werden die Anrufdaten auf dem jeweiligen Endgerät
      und beim eingesetzten Telekommunikationsanbieter pseudonymisiert
      gespeichert. Außerdem können Daten wie Name und Telefonnummer im Anschluss
      per E-Mail versendet und zur Anfragebeantwortung gespeichert werden. Die
      Daten werden gelöscht, sobald der Geschäftsfall beendet wurde und es
      gesetzliche Vorgaben erlauben.
    </p>
    <h3 class="adsimple-312397884">E-Mail</h3>
    <p>
      Wenn Sie mit uns per E-Mail kommunizieren, werden Daten gegebenenfalls auf
      dem jeweiligen Endgerät (Computer, Laptop, Smartphone,&#8230;) gespeichert
      und es kommt zur Speicherung von Daten auf dem E-Mail-Server. Die Daten
      werden gelöscht, sobald der Geschäftsfall beendet wurde und es gesetzliche
      Vorgaben erlauben.
    </p>
    <h3 class="adsimple-312397884">Online Formulare</h3>
    <p>
      Wenn Sie mit uns mittels Online-Formular kommunizieren, werden Daten auf
      unserem Webserver gespeichert und gegebenenfalls an eine E-Mail-Adresse
      von uns weitergeleitet. Die Daten werden gelöscht, sobald der
      Geschäftsfall beendet wurde und es gesetzliche Vorgaben erlauben.
    </p>
    <h3 class="adsimple-312397884">Rechtsgrundlagen</h3>
    <p>
      Die Verarbeitung der Daten basiert auf den folgenden Rechtsgrundlagen:
    </p>
    <ul class="adsimple-312397884">
      <li class="adsimple-312397884">
        Art. 6 Abs. 1 lit. a DSGVO (Einwilligung): Sie geben uns die
        Einwilligung Ihre Daten zu speichern und weiter für den Geschäftsfall
        betreffende Zwecke zu verwenden;
      </li>
      <li class="adsimple-312397884">
        Art. 6 Abs. 1 lit. b DSGVO (Vertrag): Es besteht die Notwendigkeit für
        die Erfüllung eines Vertrags mit Ihnen oder einem Auftragsverarbeiter
        wie z. B. dem Telefonanbieter oder wir müssen die Daten für
        vorvertragliche Tätigkeiten, wie z. B. die Vorbereitung eines Angebots,
        verarbeiten;
      </li>
      <li class="adsimple-312397884">
        Art. 6 Abs. 1 lit. f DSGVO (Berechtigte Interessen): Wir wollen
        Kundenanfragen und geschäftliche Kommunikation in einem professionellen
        Rahmen betreiben. Dazu sind gewisse technische Einrichtungen wie z. B.
        E-Mail-Programme, Exchange-Server und Mobilfunkbetreiber notwendig, um
        die Kommunikation effizient betreiben zu können.
      </li>
    </ul>
    <h2 id="auftragsverarbeitungsvertrag-avv" class="adsimple-312397884">
      Auftragsverarbeitungsvertrag (AVV)
    </h2>
    <p>
      In diesem Abschnitt möchten wir Ihnen erklären, was ein
      Auftragsverarbeitungsvertrag ist und warum dieser benötigt wird. Weil das
      Wort &#8220;Auftragsverarbeitungsvertrag&#8221; ein ziemlicher
      Zungenbrecher ist, werden wir hier im Text auch öfters nur das Akronym AVV
      benutzen. Wie die meisten Unternehmen arbeiten wir nicht alleine, sondern
      nehmen auch selbst Dienstleistungen anderer Unternehmen oder
      Einzelpersonen in Anspruch.  Durch die Einbeziehung verschiedener
      Unternehmen bzw. Dienstleister kann es sein, dass wir  personenbezogene
      Daten zur Verarbeitung weitergeben. Diese Partner fungieren dann als
      Auftragsverarbeiter, mit denen wir einen Vertrag, den sogenannten
      Auftragsverarbeitungsvertrag (AVV), abschließen. Für Sie am wichtigsten zu
      wissen ist, dass die Verarbeitung Ihrer personenbezogenen Daten
      ausschließlich nach unserer Weisung erfolgt und durch den AVV geregelt
      werden muss.
    </p>
    <h3 class="adsimple-312397884">Wer sind Auftragsverarbeiter?</h3>
    <p>
      Wir sind als Unternehmen und Websiteinhaber für alle Daten, die wir von
      Ihnen verarbeiten verantwortlich. Neben den Verantwortlichen kann es auch
      sogenannte Auftragsverarbeiter geben. Dazu zählt jedes Unternehmen bzw.
      jede Person, die in unserem Auftrag personenbezogene Daten verarbeitet.
      Genauer und nach der DSGVO-Definition gesagt: jede natürliche oder
      juristische Person, Behörde, Einrichtung oder eine andere Stelle, die in
      unserem Auftrag personenbezogene Daten verarbeitet, gilt als
      Auftragsverarbeiter. Auftragsverarbeiter können folglich Dienstleister wie
      Hosting- oder Cloudanbieter, Bezahlungs- oder Newsletter-Anbieter oder
      große Unternehmen wie beispielsweise Google oder Microsoft sein.
    </p>
    <p>
      Zur besseren Verständlichkeit der Begrifflichkeiten hier ein Überblick
      über die drei Rollen in der DSGVO:
    </p>
    <p>
      <strong class="adsimple-312397884">Betroffener</strong> (Sie als Kunde
      oder Interessent) → <strong class="adsimple-312397884"
        >Verantwortlicher</strong
      > (wir als Unternehmen und Auftraggeber) → <strong
        class="adsimple-312397884">Auftragsverarbeiter</strong
      > (Dienstleister wie z. B. Webhoster oder Cloudanbieter)
    </p>
    <h3 class="adsimple-312397884">
      Inhalt eines Auftragsverarbeitungsvertrages
    </h3>
    <p>
      Wie bereits oben erwähnt, haben wir mit unseren Partnern, die als
      Auftragsverarbeiter fungieren, einen AVV abgeschlossen. Darin wird allen
      voran festgehalten, dass der Auftragsverarbeiter die zu bearbeitenden
      Daten ausschließlich gemäß der DSGVO verarbeitet. Der Vertrag muss
      schriftlich abgeschlossen werden, allerdings gilt in diesem Zusammenhang
      auch der elektronische Vertragsabschluss als „schriftlich“. Erst auf der
      Grundlage des Vertrags erfolgt die Verarbeitung der personenbezogenen
      Daten. Im Vertrag muss folgendes enthalten sein:
    </p>
    <ul class="adsimple-312397884">
      <li class="adsimple-312397884">Bindung an uns als Verantwortlichen</li>
      <li class="adsimple-312397884">
        Pflichten und Rechte des Verantwortlichen
      </li>
      <li class="adsimple-312397884">Kategorien betroffener Personen</li>
      <li class="adsimple-312397884">Art der personenbezogenen Daten</li>
      <li class="adsimple-312397884">Art und Zweck der Datenverarbeitung</li>
      <li class="adsimple-312397884">
        Gegenstand und Dauer der Datenverarbeitung
      </li>
      <li class="adsimple-312397884">Durchführungsort der Datenverarbeitung</li>
    </ul>
    <p>
      Weiters enthält der Vertrag alle Pflichten des Auftragsverarbeiters. Die
      wichtigsten Pflichten sind:
    </p>
    <ul class="adsimple-312397884">
      <li class="adsimple-312397884">
        Maßnahmen zur Datensicherheit zu gewährleisten
      </li>
      <li class="adsimple-312397884">
        mögliche technische und organisatorischen Maßnahmen zu treffen, um die
        Rechte der betroffenen Person zu schützen
      </li>
      <li class="adsimple-312397884">
        ein Daten-Verarbeitungsverzeichnis zu führen
      </li>
      <li class="adsimple-312397884">
        auf Anfrage der Datenschutz-Aufsichtsbehörde mit dieser
        zusammenzuarbeiten
      </li>
      <li class="adsimple-312397884">
        eine Risikoanalyse in Bezug auf die erhaltenen personenbezogenen Daten
        durchzuführen
      </li>
      <li class="adsimple-312397884">
        Sub-Auftragsverarbeiter dürfen nur mit schriftlicher Genehmigung des
        Verantwortlichen beauftragt werden
      </li>
    </ul>
    <p>
      Wie so eine AVV konkret aussieht, können Sie sich beispielsweise unter <a
        class="adsimple-312397884"
        href="https://www.wko.at/service/wirtschaftsrecht-gewerberecht/eu-dsgvo-mustervertrag-auftragsverarbeitung.html"
        >https://www.wko.at/service/wirtschaftsrecht-gewerberecht/eu-dsgvo-mustervertrag-auftragsverarbeitung.html</a
      > ansehen. Hier wird ein Mustervertrag vorgestellt.
    </p>
    <h2 id="webhosting-einleitung" class="adsimple-312397884">
      Webhosting Einleitung
    </h2>
    <table border="1" cellpadding="15">
      <tbody>
        <tr>
          <td>
            <strong class="adsimple-312397884"
              >Webhosting Zusammenfassung</strong
            >
            <br />
            &#x1f465; Betroffene: Besucher der Website<br />
            &#x1f91d; Zweck: professionelles Hosting der Website und Absicherung
            des Betriebs<br />
            &#x1f4d3; Verarbeitete Daten: IP-Adresse, Zeitpunkt des Websitebesuchs,
            verwendeter Browser und weitere Daten. Mehr Details dazu finden Sie weiter
            unten bzw. beim jeweils eingesetzten Webhosting Provider.<br />
            &#x1f4c5; Speicherdauer: abhängig vom jeweiligen Provider, aber in der
            Regel 2 Wochen<br />
            &#x2696;&#xfe0f; Rechtsgrundlagen: Art. 6 Abs. 1 lit.f DSGVO (Berechtigte
            Interessen)</td
          >
        </tr>
      </tbody>
    </table>
    <h3 class="adsimple-312397884">Was ist Webhosting?</h3>
    <p>
      Wenn Sie heutzutage Websites besuchen, werden gewisse Informationen
      &#8211; auch personenbezogene Daten &#8211; automatisch erstellt und
      gespeichert, so auch auf dieser Website. Diese Daten sollten möglichst
      sparsam und nur mit Begründung verarbeitet werden. Mit Website meinen wir
      übrigens die Gesamtheit aller Webseiten auf einer Domain, d.h. alles von
      der Startseite (Homepage) bis hin zur aller letzten Unterseite (wie dieser
      hier). Mit Domain meinen wir zum Beispiel beispiel.de oder
      musterbeispiel.com.
    </p>
    <p>
      Wenn Sie eine Website auf einem Computer, Tablet oder Smartphone ansehen
      möchten, verwenden Sie dafür ein Programm, das sich Webbrowser nennt. Sie
      kennen vermutlich einige Webbrowser beim Namen: Google Chrome, Microsoft
      Edge, Mozilla Firefox und Apple Safari. Wir sagen kurz Browser oder
      Webbrowser dazu.
    </p>
    <p>
      Um die Website anzuzeigen, muss sich der Browser zu einem anderen Computer
      verbinden, wo der Code der Website gespeichert ist: dem Webserver. Der
      Betrieb eines Webservers ist eine komplizierte und aufwendige Aufgabe,
      weswegen dies in der Regel von professionellen Anbietern, den Providern,
      übernommen wird. Diese bieten Webhosting an und sorgen damit für eine
      verlässliche und fehlerfreie Speicherung der Daten von Websites. Eine
      ganze Menge Fachbegriffe, aber bitte bleiben Sie dran, es wird noch
      besser!
    </p>
    <p>
      Bei der Verbindungsaufnahme des Browsers auf Ihrem Computer (Desktop,
      Laptop, Tablet oder Smartphone) und während der Datenübertragung zu und
      vom Webserver kann es zu einer Verarbeitung personenbezogener Daten
      kommen. Einerseits speichert Ihr Computer Daten, andererseits muss auch
      der Webserver Daten eine Zeit lang speichern, um einen ordentlichen
      Betrieb zu gewährleisten.
    </p>
    <p>
      Ein Bild sagt mehr als tausend Worte, daher zeigt folgende Grafik zur
      Veranschaulichung das Zusammenspiel zwischen Browser, dem Internet und dem
      Hosting-Provider.
    </p>
    <p>
      <img
        role="img"
        src="https://www.adsimple.at/wp-content/uploads/2018/03/browser-und-webserver.svg"
        alt="Browser und Webserver"
        width="100%"
      />
    </p>
    <h3 class="adsimple-312397884">
      Warum verarbeiten wir personenbezogene Daten?
    </h3>
    <p>Die Zwecke der Datenverarbeitung sind:</p>
    <ol>
      <li class="adsimple-312397884">
        Professionelles Hosting der Website und Absicherung des Betriebs
      </li>
      <li class="adsimple-312397884">
        zur Aufrechterhaltung der Betriebs- und IT-Sicherheit
      </li>
      <li class="adsimple-312397884">
        Anonyme Auswertung des Zugriffsverhaltens zur Verbesserung unseres
        Angebots und ggf. zur Strafverfolgung bzw. Verfolgung von Ansprüchen
      </li>
    </ol>
    <h3 class="adsimple-312397884">Welche Daten werden verarbeitet?</h3>
    <p>
      Auch während Sie unsere Website jetzt gerade besuchen, speichert unser
      Webserver, das ist der Computer auf dem diese Webseite gespeichert ist, in
      der Regel automatisch Daten wie
    </p>
    <ul class="adsimple-312397884">
      <li class="adsimple-312397884">
        die komplette Internetadresse (URL) der aufgerufenen Webseite
      </li>
      <li class="adsimple-312397884">
        Browser und Browserversion (z. B. Chrome 87)
      </li>
      <li class="adsimple-312397884">
        das verwendete Betriebssystem (z. B. Windows 10)
      </li>
      <li class="adsimple-312397884">
        die Adresse (URL) der zuvor besuchten Seite (Referrer URL) (z. B. <a
          class="adsimple-312397884"
          href="https://www.beispielquellsite.de/vondabinichgekommen/"
          target="_blank"
          rel="follow noopener"
          >https://www.beispielquellsite.de/vondabinichgekommen/</a
        >)
      </li>
      <li class="adsimple-312397884">
        den Hostnamen und die IP-Adresse des Geräts von welchem aus zugegriffen
        wird (z. B. COMPUTERNAME und 194.23.43.121)
      </li>
      <li class="adsimple-312397884">Datum und Uhrzeit</li>
      <li class="adsimple-312397884">
        in Dateien, den sogenannten Webserver-Logfiles
      </li>
    </ul>
    <h3 class="adsimple-312397884">Wie lange werden Daten gespeichert?</h3>
    <p>
      In der Regel werden die oben genannten Daten zwei Wochen gespeichert und
      danach automatisch gelöscht. Wir geben diese Daten nicht weiter, können
      jedoch nicht ausschließen, dass diese Daten beim Vorliegen von
      rechtswidrigem Verhalten von Behörden eingesehen werden.
    </p>
    <p>
      <strong class="adsimple-312397884">Kurz gesagt:</strong> Ihr Besuch wird durch
      unseren Provider (Firma, die unsere Website auf speziellen Computern (Servern)
      laufen lässt), protokolliert, aber wir geben Ihre Daten nicht ohne Zustimmung
      weiter!
    </p>
    <h3 class="adsimple-312397884">Rechtsgrundlage</h3>
    <p>
      Die Rechtmäßigkeit der Verarbeitung personenbezogener Daten im Rahmen des
      Webhosting ergibt sich aus Art. 6 Abs. 1 lit. f DSGVO (Wahrung der
      berechtigten Interessen), denn die Nutzung von professionellem Hosting bei
      einem Provider ist notwendig, um das Unternehmen im Internet sicher und
      nutzerfreundlich präsentieren und Angriffe und Forderungen hieraus
      gegebenenfalls verfolgen zu können.
    </p>
    <p>
      Zwischen uns und dem Hosting-Provider besteht in der Regel ein Vertrag
      über die Auftragsverarbeitung gemäß Art. 28 f. DSGVO, der die Einhaltung
      von Datenschutz gewährleistet und Datensicherheit garantiert.
    </p>
    <h2 id="netlify-datenschutzerklaerung" class="adsimple-312397884">
      Netlify Datenschutzerklärung
    </h2>
    <p>
      Wir verwenden für unsere Website den Webhosting-Anbieter Netlify.
      Dienstanbieter ist das amerikanische Unternehmen Netlify Inc., 2325 3rd
      Street, Suite 29, San Francisco, CA 94104, USA.
    </p>
    <p>
      Netlify verarbeitet Daten von Ihnen u.a. auch in den USA. Wir weisen
      darauf hin, dass nach Meinung des Europäischen Gerichtshofs derzeit kein
      angemessenes Schutzniveau für den Datentransfer in die USA besteht. Dies
      kann mit verschiedenen Risiken für die Rechtmäßigkeit und Sicherheit der
      Datenverarbeitung einhergehen.
    </p>
    <p>
      Als Grundlage der Datenverarbeitung bei Empfängern mit Sitz in
      Drittstaaten (außerhalb der Europäischen Union, Island, Liechtenstein,
      Norwegen, also insbesondere in den USA) oder einer Datenweitergabe dorthin
      verwendet Netlify sogenannte Standardvertragsklauseln (= Art. 46. Abs. 2
      und 3 DSGVO). Standardvertragsklauseln (Standard Contractual Clauses –
      SCC) sind von der EU-Kommission bereitgestellte Mustervorlagen und sollen
      sicherstellen, dass Ihre Daten auch dann den europäischen
      Datenschutzstandards entsprechen, wenn diese in Drittländer (wie
      beispielsweise in die USA) überliefert und dort gespeichert werden. Durch
      diese Klauseln verpflichtet sich Netlify, bei der Verarbeitung Ihrer
      relevanten Daten, das europäische Datenschutzniveau einzuhalten, selbst
      wenn die Daten in den USA gespeichert, verarbeitet und verwaltet werden.
      Diese Klauseln basieren auf einem Durchführungsbeschluss der
      EU-Kommission. Sie finden den Beschluss und die entsprechenden
      Standardvertragsklauseln u.a. hier: <a
        class="adsimple-312397884"
        href="https://eur-lex.europa.eu/eli/dec_impl/2021/914/oj?locale=de"
        >https://eur-lex.europa.eu/eli/dec_impl/2021/914/oj?locale=de</a
      >
    </p>
    <p>
      Netlify hält einen Vertrag über die Auftragsverarbeitung gemäß Art. 28
      DSGVO bereit, der als datenschutzrechtliche Grundlage für unsere
      Kundenbeziehung zu Netlify fungiert. Dieser verweist inhaltlich auf die
      EU-Standardvertragsklauseln. Sie finden ihn hier: <a
        class="adsimple-312397884"
        href="https://www.netlify.com/pdf/netlify-dpa.pdf"
        target="_blank"
        rel="follow noopener">https://www.netlify.com/pdf/netlify-dpa.pdf</a
      >
    </p>
    <p>
      Mehr über die Daten, die durch die Verwendung von Netlify verarbeitet
      werden, erfahren Sie in der Privacy Policy auf <a
        class="adsimple-312397884"
        href="https://www.netlify.com/privacy/?tid=312397884"
        >https://www.netlify.com/privacy/</a
      >.
    </p>
    <h2 id="externe-onlineplattformen-einleitung" class="adsimple-312397884">
      Externe Onlineplattformen Einleitung
    </h2>
    <table border="1" cellpadding="15">
      <tbody>
        <tr>
          <td>
            <strong class="adsimple-312397884"
              >Externe Onlineplattformen Datenschutzerklärung Zusammenfassung</strong
            >
            <br />
            &#x1f465; Betroffene: Besucher der Website bzw. Besucher der externen
            Onlineplattformen<br />
            &#x1f91d; Zweck: Darstellung und Optimierung unserer Serviceleistung,
            Kontakt zu Besuchern, Interessenten<br />
            &#x1f4d3; Verarbeitete Daten: Daten wie etwa Telefonnummern, E-Mail-Adressen,
            Kontaktdaten, Daten zum Nutzerverhalten, Informationen zu Ihrem Gerät
            und Ihre IP-Adresse.<br />
            Mehr Details dazu finden Sie bei der jeweils eingesetzten Plattform.<br
            />
            &#x1f4c5; Speicherdauer: abhängig von den verwendeten Plattformen<br
            />
            &#x2696;&#xfe0f; Rechtsgrundlagen: Art. 6 Abs. 1 lit. a DSGVO (Einwilligung),
            Art. 6 Abs. 1 lit. f DSGVO (Berechtigte Interessen)</td
          >
        </tr>
      </tbody>
    </table>
    <h3 class="adsimple-312397884">Was sind externe Onlineplattformen?</h3>
    <p>
      Um unsere Leistungen oder Produkte auch außerhalb unserer Website anbieten
      zu können, nutzen wir auch externe Plattformen. Dabei handelt es sich
      meist um Online-Marktplätze wie etwa Amazon oder eBay. Neben unserer
      Verantwortlichkeit des Datenschutzes gelten auch die
      Datenschutzbestimmungen der von uns verwendeten externen Plattformen. Dies
      ist speziell dann der Fall, wenn über die Plattform unsere Produkte
      erworben werden. Also wenn es einen Zahlungsvorgang gibt. Weiters nützen
      die meisten Plattformen Ihre Daten auch, um die eigenen Marketingmaßnahmen
      zu optimieren. Beispielsweise kann die Plattform, mit Hilfe erhobener
      Daten, Werbeanzeigen genau an die Interessen der Kunden und
      Websitebesucher zuschneiden.
    </p>
    <h3 class="adsimple-312397884">
      Warum nutzen wir externe Onlineplattformen?
    </h3>
    <p>
      Neben unserer Website wollen wir unser Angebot auch auf anderen
      Plattformen anbieten, um mehr Kunden unser Angebot näher zu bringen.
      Externe Online-Marktplätze wie etwa Amazon, Ebay oder auch Digistore24
      bieten große Verkaufswebsites, die unsere Produkte Menschen anbieten, die
      unter Umständen nicht unsere Website kennen. Es kann auch vorkommen, dass
      eingebaute Elemente auf unserer Seite zu einer externen Onlineplattform
      leiten. Daten, die von der verwendeten Onlineplattform verarbeitet und
      gespeichert werden, dienen dem Unternehmen einerseits den Zahlungsvorgang
      zu protokollieren, andererseits aber auch um Webanalysen durchführen zu
      können.
    </p>
    <p>
      Ziel dieser Analysen ist es, genauere und personenbezogene Marketing- und
      Werbestrategien entwickeln zu können. Abhängig von Ihrem Verhalten auf
      einer Plattform, können mit Hilfe der ausgewerteten Daten, passende
      Rückschlüsse auf Ihre Interessen getroffen werden und sogenannte
      Userprofile erstellt werden. So ist es den Plattformen auch möglich, Ihnen
      maßgeschneiderte Werbeanzeigen bzw. Produkte zu präsentieren. Meistens
      werden für diesen Zweck Cookies in Ihrem Browser gesetzt, die Daten zu
      Ihrem Nutzungsverhalten speichern.
    </p>
    <p>
      Bitte beachten Sie, dass bei der Nutzung der Plattformen oder unserer
      eingebauten Elemente auch Daten von Ihnen außerhalb der Europäischen Union
      verarbeitet werden können, da Onlineplattformen, beispielsweise Amazon
      oder eBay, amerikanische Unternehmen sind. Dadurch können Sie
      möglicherweise Ihre Rechte in Bezug auf Ihre personenbezogenen Daten nicht
      mehr so leicht einfordern bzw. durchsetzen.
    </p>
    <h3 class="adsimple-312397884">Welche Daten werden verarbeitet?</h3>
    <p>
      Welche Daten genau gespeichert und verarbeitet werden, hängt von der
      jeweiligen externen Plattform ab. Aber für gewöhnlich handelt es sich um
      Daten wie etwa Telefonnummern, E-Mailadressen, Daten, die Sie in ein
      Kontaktformular eingeben, Nutzerdaten wie zum Beispiel welche Buttons Sie
      klicken, wann Sie welche Seiten besucht haben, Informationen zu Ihrem
      Gerät und Ihre IP-Adresse. Sehr häufig werden die meisten dieser Daten in
      Cookies gespeichert. Wenn Sie bei einer externen Plattform ein eigenes
      Profil haben und dort auch angemeldet sind, können Daten mit dem Profil
      verknüpft werden. Die erhobenen Daten werden auf den Servern der
      verwendeten Plattformen gespeichert und dort verarbeitet. Wie eine externe
      Plattform Daten genau speichert, verwaltet und verarbeitet, erfahren Sie
      in der jeweiligen Datenschutzerklärung. Falls Sie zur Datenspeicherung und
      Datenverarbeitung Fragen haben oder entsprechende Rechte geltend machen
      wollen, empfehlen wir Ihnen, sich direkt an die Plattform zu wenden.
    </p>
    <h3 class="adsimple-312397884">Dauer der Datenverarbeitung</h3>
    <p>
      Über die Dauer der Datenverarbeitung informieren wir Sie weiter unten,
      sofern wir weitere Informationen dazu haben. Beispielsweise speichert
      Amazon Daten, bis sie für den eigenen Zweck nicht mehr benötigt werden.
      Generell verarbeiten wir personenbezogene Daten nur so lange wie es für
      die Bereitstellung unserer Dienstleistungen und Produkte unbedingt
      notwendig ist.
    </p>
    <h3 class="adsimple-312397884">Widerspruchsrecht</h3>
    <p>
      Sie haben auch jederzeit das Recht und die Möglichkeit Ihre Einwilligung
      zur Verwendung von Cookies zu widerrufen. Das funktioniert entweder über
      unser Cookie-Management-Tool oder über Opt-Out-Funktionen bei der
      jeweiligen externen Plattform. Weiters können Sie auch die Datenerfassung
      durch Cookies verhindern, indem Sie in Ihrem Browser die Cookies
      verwalten, deaktivieren oder löschen.
    </p>
    <p>
      Da Cookies zum Einsatz kommen können, empfehlen wir Ihnen auch unsere
      allgemeine Datenschutzerklärung über Cookies. Um zu erfahren, welche Daten
      von Ihnen genau gespeichert und verarbeitet werden, sollten Sie die
      Datenschutzerklärungen der jeweiligen externen Plattformen durchlesen.
    </p>
    <h3 class="adsimple-312397884">Rechtsgrundlage</h3>
    <p>
      Wenn Sie eingewilligt haben, dass Daten von Ihnen durch externe
      Plattformen verarbeitet und gespeichert werden können, gilt diese <strong
        class="adsimple-312397884">Einwilligung</strong
      > als Rechtsgrundlage der Datenverarbeitung <strong
        class="adsimple-312397884">(Art. 6 Abs. 1 lit. a DSGVO)</strong
      >. Grundsätzlich werden Ihre Daten bei Vorliegen einer Einwilligung auch
      auf Grundlage eines <strong class="adsimple-312397884"
        >berechtigten Interesses (Art. 6 Abs. 1 lit. f DSGVO)</strong
      > an einer schnellen und guten Kommunikation mit Ihnen oder anderen Kunden
      und Geschäftspartnern gespeichert und verarbeitet. Falls wir eingebundene Elemente
      externer Plattformen auf unser Website haben, setzen wir diese gleichwohl nur
      ein, soweit Sie eine Einwilligung erteilt haben.
    </p>
    <p>
      Informationen zu speziellen externen Plattformen erfahren Sie &#8211;
      sofern vorhanden &#8211; in den folgenden Abschnitten.
    </p>
    <p>Alle Texte sind urheberrechtlich geschützt.</p>
    <p style="margin-top:15px">
      Quelle: Erstellt mit dem <a
        href="https://www.adsimple.de/datenschutz-generator/"
        title="Datenschutz Generator von AdSimple für Deutschland"
        >Datenschutz Generator</a
      > von AdSimple
    </p>
  </section>
</Layout>
