---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Content Removal">
    <h1>Content Removal</h1>
    <p>
        If you believe any content on this site infringes your copyright or
        misrepresents your work, please contact me and I will address it
        promptly.
    </p>
    <h2>Contact</h2>
    <p>
        Email: <a href="mailto:me@paulderscheid.xyz">me@paulderscheid.xyz</a>
    </p>
    <p>Please include:</p>
    <ul>
        <li>The URL of the content in question</li>
        <li>A description of what you believe is infringing or misrepresented</li>
        <li>Your name and how you are connected to the work</li>
    </ul>
    <h2>What to expect</h2>
    <p>
        I take these requests seriously. Content will be removed or corrected
        within a reasonable timeframe after a valid request. No lawyers
        necessary &mdash; just reach out.
    </p>
</Layout>
