<section class="container-fluid">
    <a href="/legal">Impressum</a>
    <a href="/privacy-policy">Datenschutz</a>
</section>
<style>
    section {
        background-color: rgba(0,0,0,0.5);
        backdrop-filter: blur(5px);
        width: 100%;
        padding: 1em;
        margin: 0 1em 0 0;
        text-align: center;
    }

    a {
        padding: 1em;
    }
</style>