<footer class="container mx-auto p-4">
    <div class="p-4 flex items-center justify-center gap-6">
        <a class="link" href="/legal">Impressum</a>
        <a class="link" href="/privacy-policy">Datenschutz</a>
    </div>
</footer>
