---
const year = new Date().getFullYear();
---

<footer>
    <a href="/legal">/impressum</a>
    <a href="/privacy-policy">/datenschutz</a>
    <a href="/takedown">/takedown</a>
    &copy; {year} <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
</footer>
