---
interface Props {
    home: string;
    links: { href: string; text: string }[];
}

const { home, links } = Astro.props;
---

<nav><a href="/">{home}</a>{links.map((l) => <a href={l.href}>{l.text}</a>)}</nav>
