---
export interface Props {
    href: string;
    title: string;
    projectTitle: string;
    description: string;
}

const { href, title, projectTitle, description } = Astro.props;
---

<li class="list-none m-2">
    <div class="card p-0 overflow-hidden">
        <a href={href} aria-label={title} class="block p-4 link font-semibold">
            {projectTitle}
        </a>
        {
            description && (
                <>
                    <div class="item-divider" />
                    <p
                        class="item-desc m-0 p-4 text-sm leading-relaxed"
                        set:html={description}
                    />
                </>
            )
        }
    </div>
</li>

<style>
    .card:hover {
        transform: var(--pd-xyz-transform-y-default);
    }
    .item-divider {
        height: 1px;
        width: 100%;
        background: var(--pd-xyz-background-color);
    }
    .item-desc {
        color: var(--pd-xyz-text-color-secondary);
    }
    @media (prefers-color-scheme: dark) {
        .item-divider {
            background: var(--pd-xyz-text-color-secondary);
        }
    }
</style>
